html, body{
    height: 100%;
}

.add_table__data_botton_class {
	display: inline-block;
	*zoom: 1; *display: inline;
	padding: 8px 12px;
	background-color: #ccc;
	border: 1px solid #b3b3b3;
	border-radius: 3px;
	color: #000;
	cursor: pointer;
	margin: 10px 0;
}

.add_table__data_botton_class:hover {
	background-color: #c0bfbf ;
}

.div_container {
	height: inherit;
}



.div_container div {
	width: 100%;
	border: 1px solid black;
	min-height: 25%;
}


.div_container div span {
	width: 25%;
	margin-left: 5px;
	margin-top: 5px;
	float: left;
	padding-left: 10%;
	background-color: #aaa;
}

.div_container form {
	border: 1px dotted;
    float: left;
    margin-left: 6px;
    margin-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    width: 98%;
}

#div_tableContainer {

}

#div_tableContainer:after {
	content: "";
	display: block;
	clear:both;
}


#div_tableContainer div {
	float: left;
	width: 20%;
	border: none;
	margin-bottom: 30px;
}